{
  "extends": "@mapbox/eslint-config-mapbox",
  "rules": {
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-before-blocks": "error",
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "comma-spacing": "error",
    "key-spacing": "error",
    "no-shadow": "error",
    "no-constant-condition": [
      "error",
      {
      "checkLoops": false
      }
    ],
    "n/no-unsupported-features/node-builtins": ["error", {
      "allowExperimental": true
    }]
  }
}