language: node_js

services:
  - xvfb

##### WARNING
# node-pre-gyp tests are not concurrency safe
# such that in the below travis builds we cannot
# have more than one run with the same node version
# otherwise they will clobber each other
#####

matrix:
  include:
    # Test node v10 with request override + coverage reporting
    - os: linux
      node_js: 10
      # mock s3 on jobs that post coverage
      # to allow coverage to work consistently
      # across PRs from external contributors
      env:
        - node_pre_gyp_mock_s3=true
      before_install:
        - npm install request
        - npm install --package-lock-only
      before_script:
      - if ! [ -x "$(command -v aws)" ]; then curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" ; unzip awscliv2.zip ; sudo ./aws/install ; fi
      - aws sts get-caller-identity
      script:
        - npm run lint
        - npm run coverage
      after_script:
        - npm run upload-coverage
    # Test node v12 coverage reporting
    - os: linux
      node_js: 12
      # mock s3 on jobs that post coverage
      # to allow coverage to work consistently
      # across PRs from external contributors
      env:
        - node_pre_gyp_mock_s3=true
      script:
        - npm run coverage
      after_script:
        - npm run upload-coverage
    # Test node v14
    - os: linux
      node_js: 14
    # Test node v8
    - os: linux
      node_js: 8
    # Test node webkit
    - os: linux
      node_js: 10
      addons:
        apt:
          sources: [ 'ubuntu-toolchain-r-test' ]
          packages: ['xvfb','libasound2','libx11-6','libglib2.0-0','libgtk2.0-0','libatk1.0-0','libgdk-pixbuf2.0-0','libcairo2','libfreetype6','libfontconfig1','libxcomposite1','libasound2','libxdamage1','libxext6','libxfixes3','libnss3','libnspr4','libgconf-2-4','libexpat1','libdbus-1-3','libudev1']
      script:
        # test node-webkit usage
        - ./scripts/test-node-webkit.sh

install:
- npm ci

script:
- npm test
